{% extends 'base1.html' %}

{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Email Address</th>
        <th scope="col">Post</th>
        <th scope="col">Body</th>
        <th scope="col">Created</th>
        <th scope="col">Active</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      
      {% for comment in comments %}
        <tr>
            <th>{{ comment.name }}</th> 
            <td>{{ comment.email }}</td>
            <td>{{ comment.post }}</td>
            <td>{{ comment.body }}</td>
            <td>{{ comment.created }}</td>
            <td>{{ comment.active }}</td>
            <td><a href="{% url 'comment_delete' comment.pk %}">Delete</a></td>
            <td><a href="{% url 'comment_update' comment.pk %}">Update</a></td>
        </tr>
      {% endfor %}
          
    </tbody>
  </table>
{% endblock content %}