{% extends 'base1.html' %}

{% block content %}
    {% include 'partials/alerts.html' %}
                      
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-file-text fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                  <div class='huge'>
                    {% with posts.count as total_posts %}
                    <h2>
                    {{ total_posts }} Post{{ total_posts|pluralize }}
                    </h2>
                    {% endwith %}
                  </div> 
                        <!-- <div>Posts</div> -->
                    </div>
                </div>
            </div>
            <a href="{% url 'posts_list' %}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                     <div class='huge'>
                    {% with posts.count as total_posts %}
                    <h2>
                    {{ total_posts }} Comment{{ total_posts|pluralize }}
                    </h2>
                    {% endwith %}
                     </div>
                      <!-- <div>Comments</div> -->
                    </div>
                </div>
            </div>
            <a href="{% url 'comment_list' %}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                    <div class='huge'>
                    {% with users.count as total_users %}
                    <h2>
                    {{ total_users }} User{{ total_users|pluralize }}
                    </h2>
                    {% endwith %}
                    </div>
                        <!-- <div> Users</div> -->
                    </div>
                </div>
            </div>
            <a href="{% url 'users' %}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-list fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class='huge'>
                        {% with categories.count as category_count %}
                        <h2>
                        {{ category_count }} Category{{ category_count|pluralize }}
                        </h2>
                        {% endwith %}
                        </div>
                         <!-- <div>Categories</div> -->
                    </div>
                </div>
            </div>
            <a href="{% url 'dashboard' %}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
                <!-- /.row -->
{% endblock content %}
    